[package]
name = "kmerseek"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kmerseek"
crate-type = ["cdylib"]
path = "src/rust/lib.rs"

[dependencies]
pyo3 = { version = "0.25.0", features = ["extension-module", "abi3-py313"] }
anyhow = "1.0"
rayon = "1.8"
rand = "0.9.1"
sourmash = "0.20.0"

[dev-dependencies]
tempfile = "3.10"
