[package]
name = "kmerseek"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kmerseek"
crate-type = ["cdylib"]
path = "src/rust/lib.rs"

[dependencies]
pyo3 = { version = "0.25", features = ["extension-module"] }
anyhow = "1.0"
rayon = "1.10"
rand = "0.8"
sourmash = "0.12"
quick-xml = "0.31"
rocksdb = "0.21"
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"
flate2 = "1.0"

[dev-dependencies]
tempfile = "3.10"
